---
layout: property
lang: pt
pageId: property
permalink: /pt/property
title: A Quinta
---
Construída em 1896, a Quinta do Mosteiro faz parte da história da família Bouças há quatro gerações. Outrora uma mercearia com um papel central no quotidiano da aldeia, é hoje um charmoso espaço de turismo rural após o seu restauro em 2016.

Os hóspedes são recebidos num ambiente acolhedor, onde o requinte e elegância de outrora combinam com o conforto e bem-estar trazidos pelos elementos contemporâneos.

Os espaços interiores alinham-se harmoniosamente com o extenso exterior, composto por terraços, jardim e piscina, e oferecem uma atmosfera marcada por paz, tranquilidade e bem-estar.

Com capacidade para 10 pessoas, a casa tem as seguintes características:

## Rés-do-chão

{% include house-layout.html section="ground-floor" %}

## Primeiro piso

{% include house-layout.html section="first-floor" %}

Os hóspedes dispõe ainda de:

-	Piscina
-	Jardim relvado
-	Bar rústico
-   Barbecue ao ar livre
-	Ar-condicionado e aquecimento central
-	Televisão por cabo
-	Wi-Fi
-	Parque automóvel
