// --------------------------------------------------------------
// Colours
// --------------------------------------------------------------

$colour-primary: #000;
$colour-secondary: #c9b19b;
$colour-secondary-shade-1: #EFDECF;
$colour-secondary-shade-2: #A98C71;
$colour-secondary-shade-3: #86684C;
$colour-error: tomato;

$colour-facebook: #3A589B;
$colour-instagram: #517FA6;