// --------------------------------------------------------------
// Typography
// --------------------------------------------------------------

@import url(//fast.fonts.net/cssapi/63ea3477-bb00-453a-82b2-41c89450bf09.css);

$font-family-primary: 'AvenirNextLTW01-Regular', sans-serif;
$font-family-secondary: 'DIN Condensed W01 Light', Helvetica, Arial, sans-serif;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$font-size-small: 14px;
$font-size-normal: 18px;
$font-size-large: 23px;

$line-height-normal: 1.5;