<footer class="footer">
	<div class="footer__contact">
		<address class="footer__contact-part">Lugar do Mosteiro, Bravães<br>4980-125 Ponte da Barca<br>Portugal</address>
		<span class="footer__contact-part">+351 939 702 265</span>
		<span class="footer__contact-part"><a class="link" href="mailto:{{ site.email }}">{{ site.email }}</a></span>
	</div>

	<div class="footer__social">
		<a href="https://www.facebook.com/aquintadomosteiro">{% include svg.html id="facebook" class="footer__social-icon icon icon--facebook" %}</a>
		<a href="https://www.instagram.com/quintadomosteiro/">{% include svg.html id="instagram" class="footer__social-icon icon icon--instagram" %}</a>
	</div>

	<p class="footer__legal">© 2016 Quinta do Mosteiro</p>
</footer>
