<footer class="footer">
	<div class="footer__contact">
		<address class="footer__contact-part">Lugar do Mosteiro, Bravães<br>4980-125 Ponte da Barca<br>Portugal</address>
		<span class="footer__contact-part">+351 123 456 789</span>
		<span class="footer__contact-part"><a class="link" href="mailto:mail@quintadomosteiro.com">mail@quintadomosteiro.com</a></span>
	</div>

	<div class="footer__social">
		<a href="#">{% include svg.html id="facebook" class="footer__social-icon icon icon--facebook" %}</a>
		<a href="#">{% include svg.html id="instagram" class="footer__social-icon icon icon--instagram" %}</a>
	</div>

	<p class="footer__legal">© 2016 Quinta do Mosteiro</p>
</footer>
