<header class="header">
	<header class="header__inner constrain">
		<a href="{{ site.data.router[page.lang].home }}">
			{% include svg.html id="logo" class="header__logo" %}
			<h1 class="header__title">Quinta do Mosteiro</h1>
			<p class="header__subtitle">Ponte da Barca, Portugal</p>
		</a>

		{% include menu.html %}

		<div class="header__language-selector">
			<a class="cta {% if page.lang == "pt" %}cta--active{% endif %} header__language" href="/pt/{{ site.data.router.pt[page.pageId] }}">Português</a>
			<a class="cta {% if page.lang == "en" %}cta--active{% endif %} header__language" href="/en/{{ site.data.router.en[page.pageId] }}">English</a>
		</div>
	</header>
</header>
