<div class="nav">
	{% for menuItem in site.data[page.lang].menu %}
		<a class="nav__item cta {% if menuItem.link == page.pageId %}cta--active{% endif %}" href="/{{ page.lang }}/{{ menuItem.link }}">{{ menuItem.title }}</a>
	{% endfor %}

	<div class="header__language-selector">
		<a class="cta {% if page.lang == "pt" %}cta--active{% endif %} header__language" href="/pt/{{ page.pageId }}">Português</a>
		<a class="cta {% if page.lang == "en" %}cta--active{% endif %} header__language" href="/en/{{ page.pageId }}">English</a>
	</div>
</div>