.container {
	position: relative;
	height: 0;
	overflow: hidden;
}

.container--20-11 {
	padding-bottom: (11 / 20) * 100%;
}

.container--454-219 {
	padding-bottom: (219 / 454) * 100%;
}

.container__tenant {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}