---
layout: page
---
<div class="page page--margin constrain content-holder">
	<div class="booking-type-card">
		<img src="/assets/images/house-illustration-full-house.png">
		<h2 class="heading heading--2">{{ site.data[page.lang].house-layout.title }}</h2>

		<div class="booking-type-card__features">
			{{ site.data[page.lang].house-layout.features | markdownify }}
		</div>
	</div>	
	<p>
		{{ site.data[page.lang].house-layout.footer | replace: "@email@", site.email | replace: "@phone_number@", site.phone_number }}
	</p>
</div>
