---
layout: default
---
<div class="container container--454-219">
	<img src="/assets/images/lead2.jpg" class="container__tenant">
</div>

<div class="col-container">
	<a href="#" class="col col--2-2 col--1-2@medium">
		{% include homepage-tile.html video="/assets/videos/a-quinta-final.mp4" title="A Quinta" %}
	</a>
	<a href="#" class="col col--2-2 col--1-2@medium">
		{% include homepage-tile.html video="/assets/videos/galeria-final.mp4" title="Galeria" %}
	</a>
	<a href="#" class="col col--2-2 col--1-2@medium">
		{% include homepage-tile.html video="/assets/videos/actividades-final.mp4" title="Actividades" %}
	</a>
	<a href="#" class="col col--2-2 col--1-2@medium">
		{% include homepage-tile.html video="/assets/videos/localizacao-final.mp4" title="Localização" %}
	</a>
</div>